<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ItemVisibility"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.simple.itemvisibility.horizontallist.HorizontalListActivity" />
        <activity android:name="com.simple.itemvisibility.verticallist.VerticalListActivity" />
        <activity android:name="com.simple.itemvisibility.pager.PagerListActivity" />
        <activity android:name="com.simple.itemvisibility.gird.GridListActivity" />
        <activity android:name="com.simple.itemvisibility.staggered.StaggeredListActivity" />
        <activity android:name="com.simple.itemvisibility.flex.FlexListActivity" />
    </application>

</manifest>